<h1>投稿一覧</h1>

<% if @posts.any? %>
    <% @posts.each do |post| %>
        投稿者：<%= post.user&.name.presence || post.user&.email || "（不明）" %><br>
        <%= link_to post.content, edit_post_path(post) %><br>
        <%= link_to "削除", post_path(post), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %><br><br>
    <% end %>
<% else %>
    <p>投稿はまだありません</p><br>
<% end %>

<%= link_to "新規投稿", new_post_path %>
